@model JAWS.Models.Termin

@{
    ViewData["Title"] = "Zakaži termin";
}

<h1>Create</h1>

<h4>Termin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="PacijentId" class="control-label"></label>
                <input asp-for="PacijentId" class="form-control" />
                <span asp-validation-for="PacijentId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="VrijemeTermina" class="control-label"></label>
                <input asp-for="VrijemeTermina" class="form-control" />
                <span asp-validation-for="VrijemeTermina" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ZauzetostTermina" /> @Html.DisplayNameFor(model => model.ZauzetostTermina)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ObrazlozenjeTermina" class="control-label"></label>
                <input asp-for="ObrazlozenjeTermina" class="form-control" />
                <span asp-validation-for="ObrazlozenjeTermina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
