
@{
    ViewData["Title"] = "Index";
}

@* Doktor home page *@

<div class="container mx-auto">
    <div class="block text-center">
        <h1 class="text-center">Dobro došli u JAWS</h1>
    </div>
    <div class="row">
        <a class="btn btn-primary btn-lg mr-5" asp-controller="Termin" asp-action="Index">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-black-50">Raspored</h2>
                </div>
            </div>
        </a>
        <a class="btn btn-primary btn-lg mr-5" href="#">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-black-50">Kartoni</h2>
                </div>
            </div>
        </a>
        <a class="btn btn-primary btn-lg mr-5" href="/StomatoloskaUsluga">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-black-50">Usluga</h2>
                </div>
            </div>
        </a>
        <a class="btn btn-primary btn-lg mr-5" asp-controller="Cjenovnik" asp-action="Index">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-black-50">Cjenovnik</h2>
                </div>
            </div>
        </a>
        <a class="btn btn-primary btn-lg mr-5" href="#">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-black-50">Knjiga protokola</h2>
                </div>
            </div>
        </a>
        <a class="btn btn-primary btn-lg mr-5" asp-controller="Pacijent" asp-action="Index">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-black-50">Pacijent</h2>
                </div>
            </div>
        </a>
    </div>
</div>