@model JAWS.Models.CjenovnikItem



<h2>Da li želite izbrisati ovu uslugu?</h2>
<div>
    <hr />
    <dl class="row">
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <label asp-for="Naziv" class="control-label"></label>
        <input asp-for="Naziv" class="form-control" />
        <input type="submit" value="Izbriši" class="btn btn-danger" /> |
        <a asp-action="Index">Nazad na cjenovnik</a>

    </form>
</div>
