@model JAWS.Models.StomatoloskaUsluga

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StomatoloskaUsluga</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DatumPruzanjaUsluga" class="control-label"></label>
                <input asp-for="DatumPruzanjaUsluga" class="form-control" />
                <span asp-validation-for="DatumPruzanjaUsluga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oboljenje" class="control-label"></label>
                <input asp-for="Oboljenje" class="form-control" />
                <span asp-validation-for="Oboljenje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RtgSnimak" class="control-label"></label>
                <input asp-for="RtgSnimak" class="form-control" />
                <span asp-validation-for="RtgSnimak" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Napomene" class="control-label"></label>
                <input asp-for="Napomene" class="form-control" />
                <span asp-validation-for="Napomene" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpisUsluge" class="control-label"></label>
                <input asp-for="OpisUsluge" class="form-control" />
                <span asp-validation-for="OpisUsluge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IzvjestajTerapije" class="control-label"></label>
                <input asp-for="IzvjestajTerapije" class="form-control" />
                <span asp-validation-for="IzvjestajTerapije" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KartonId" class="control-label"></label>
                <input asp-for="KartonId" class="form-control" />
                <span asp-validation-for="KartonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KnjigaProtokolaId" class="control-label"></label>
                <input asp-for="KnjigaProtokolaId" class="form-control" />
                <span asp-validation-for="KnjigaProtokolaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
