@model JAWS.Models.Pacijent

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pacijent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DatumRodjenja" class="control-label"></label>
                <input asp-for="DatumRodjenja" class="form-control" />
                <span asp-validation-for="DatumRodjenja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrojTelefona" class="control-label"></label>
                <input asp-for="BrojTelefona" class="form-control" />
                <span asp-validation-for="BrojTelefona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spol" class="control-label"></label>
                <select asp-for="Spol" asp-items="@Html.GetEnumSelectList<Spol>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Spol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prebivaliste" class="control-label"></label>
                <input asp-for="Prebivaliste" class="form-control" />
                <span asp-validation-for="Prebivaliste" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JedinstveniMatičniBroj" class="control-label"></label>
                <input asp-for="JedinstveniMatičniBroj" class="form-control" />
                <span asp-validation-for="JedinstveniMatičniBroj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZdravstveneNapomene" class="control-label"></label>
                <input asp-for="ZdravstveneNapomene" class="form-control" />
                <span asp-validation-for="ZdravstveneNapomene" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoyalKarticaId" class="control-label"></label>
                <input asp-for="LoyalKarticaId" class="form-control" />
                <span asp-validation-for="LoyalKarticaId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ImePrezime" class="control-label"></label>
                <input asp-for="ImePrezime" class="form-control" />
                <span asp-validation-for="ImePrezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sifra" class="control-label"></label>
                <input asp-for="Sifra" class="form-control" />
                <span asp-validation-for="Sifra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
